@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  color: var(--gray-12);
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: var(--gray-12);
}

a {
  color: inherit;
  text-decoration: none;
}

.radix-themes {
  background-color: var(--gray-2);
  display: flex;
  flex-direction: column;
}

div[data-radix-popper-content-wrapper] {
  background-color: var(--gray-6) !important;
  padding: 0.2rem;
  border-radius: 8px;
  z-index: 1000;
}

html.dark .react-datepicker__input-container input {
  background-color: #1f2937;
  color: #e5e7eb;
  border: 1px solid #374151;
  border-radius: 0.375rem;
}

html.dark .react-datepicker {
  background-color: #111827 !important;
  border: 1px solid #374151 !important;
}

html.dark .react-datepicker__header {
  background-color: #1f2937 !important;
  border-bottom: 1px solid #374151 !important;
}

html.dark .react-datepicker__month-select,
html.dark .react-datepicker__year-select {
  background-color: #4b5563;
  color: #f9fafb;
}

html.dark .react-datepicker__time-list-item {
  background-color: #111827;
  color: #d1d5db !important;
}
html.light .react-datepicker__time-list-item {
  background-color: #ffffff;
  color: #343946 !important;
}

html.dark .react-datepicker__day-name,
html.dark .react-datepicker__day,
html.dark .react-datepicker__current-month,
html.dark .react-datepicker-time__header {
  color: #d1d5db !important;
}

html.dark .react-datepicker__day--selected,
html.dark .react-datepicker__day--keyboard-selected {
  background-color: #3b82f6 !important;
  color: #ffffff !important;
}

html.dark .react-datepicker__day--disabled {
  color: #6b7280 !important;
}

/* 라이트 모드 */
html.light .react-datepicker__input-container input {
  background-color: #ffffff;
  color: #111827;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
}

html.light .react-datepicker {
  background-color: #ffffff !important;
  border: 1px solid #d1d5db !important;
}

html.light .react-datepicker__header {
  background-color: #f3f4f6 !important;
  border-bottom: 1px solid #d1d5db !important;
}

html.light .react-datepicker__month-select,
html.light .react-datepicker__year-select {
  background-color: #e5e7eb;
  color: #111827;
}

html.light .react-datepicker__day-name,
html.light .react-datepicker__day,
html.light .react-datepicker__current-month,
html.light .react-datepicker-time__header {
  color: #374151 !important;
}

html.light .react-datepicker__day--selected,
html.light .react-datepicker__day--keyboard-selected {
  background-color: #3b82f6 !important;
  color: #ffffff !important;
}

html.light .react-datepicker__day--disabled {
  color: #9ca3af !important;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}
